<html>
    <head>
        <title>Flow Finder</title>
        <meta charset="utf-8">
    </head>

    <% include style %>

    <body>
	<% include navbar %>
        <h1>Welcome to the Flow Finder data website! Explore the different pages to see individual shower statistics!</h1>
    </body>
</html>
