<div id="navBar">
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="/total">Total</a></li>
                <li><a href="/average">Average</a></li>
		<!--
                <li class="dropdown">s
                    <a class="dropbtn">People</a>
                    <div class="dropdown-content">
                    <a href="#">Alex</a>
                    <a href="#">Chloe</a>
                    <a href="#">...</a>
                    </div>
                </li>
		-->
            </ul>
</div>