<!--
Author: CTRL-Z Robotics

This is one of the webpages that will loaded when the server gets a specific request.
This is the webpage for when there is the request '/total'
This webpage will display the total water consumption and an accompanying graph
-->




<html>
    <head>
        <!--Linking the CSS and JavaScript file-->
        <link rel="stylesheet" href="website/style.css">
        <title>Flow Finder</title>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	
    <% include style %>
    <body>
    	<%include navbar %>
	<br>
	<br>
	<div id="chart">
            <canvas id="myChart"></canvas>
        </div>
	<script>
        //this script will format the graph that will be on the total webpage
	    var names = [];
	    var totLitres = [];
	    <% for (var i = 0; i < data.length; i++){%>
		names.push("<%= data[i].name %>");
		totLitres.push(<%= Math.round((data[i].totalLitres/3.85)*10)/10 %>);
            <%}%>
            var ctx = document.getElementById("myChart").getContext('2d');
	    Chart.defaults.global.defaultFontSize = 20;
	    Chart.defaults.global.defaultFontColor = 'black';
            var myChart = new Chart(ctx, {
                type: 'bar',
                responsize: true,
                data: {
                    labels: names,
                    datasets: [{
                        label: 'Total Water Consumption (Gallons)',
                        data: totLitres,
                        
                       //background colour for each bar
                        backgroundColor: [
                            'rgba(255, 0, 0, 1)',
                            'rgba(0, 255, 0, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(255, 255, 0, 1)',
                            'rgba(0, 255, 255, 1)',
                            'rgba(255, 0, 255, 1)'
                        ],
                        //border colour for each bar
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        
                        borderWidth: 1,
			"font-size": "large"
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
 
        </script>    
    
    </body>
</html>
